{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container py-4">
    <h1 class="display-5">Hello {{ controller_name }}!</h1>

    <p class="lead">
        This friendly message is coming from:
    </p>
    <ul class="text-muted">
        <li>
            Your controller at
            <kbd>
                <a href="{{ '/Users/lioneldaelemans/Sites/nestor-ai/src/Controller/HomeController.php'|file_link(0) }}" class="link-info">
                    src/Controller/HomeController.php
                </a>
            </kbd>
        </li>
        <li>
            Your template at
            <kbd>
                <a href="{{ '/Users/lioneldaelemans/Sites/nestor-ai/templates/home/index.html.twig'|file_link(0) }}" class="link-info">
                    templates/home/index.html.twig
                </a>
            </kbd>
        </li>
    </ul>
</div>
{% endblock %}
